// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$gray: #000000;
$green: #32B796;

//our colors
$blue: #1C6E8C;
$orange: #BFAE48;
$light-gray: #F4F4F4;
$purple: #8f1a60;
$dark-blue: #153243;

