// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$gray: #000000;
$green: #32B796;
$purple: #8f1a60;
$orange: #BFAE48;

//our colors
$yellow: #E0CF33;
$blue: #1C6E8C;
$light-gray: #F4F4F4;
$dark-blue: #153243;

