

.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  position: relative;
  background: #F4F4FF;
}


.search-bar-location {
  width: 100%;
  display: flex;
  padding-bottom: 20px;

  input {
    border: 0px;
    flex: 1;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 1px;
  }

  select {
    padding: 7px;
    background-color: white;
    border-radius: 0px;
    border-width: 0px;

  }
}

.search-bar-budget-size-bedrooms {
  width: 100%;
  display: flex;
  padding-bottom: 1.5rem;

  select {
    flex: 1;
    background-color: white;
    border-radius: 0px;
    border-width: 1px;
    border-color: rgb(166, 166, 166);
    border-image: initial;
  }
}

.search-bar-rating {
  width: 100%;
  display: flex;
  padding-bottom: 1.5rem;

  select {
    flex: 1;
    background-color: white;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
  }
}
