$secondary: #d5deef;
$secondary-dark: #b8bdc9;
$secondary-darker: #838ea0;

.home-banner{
  display: flex;
  background-image: asset-url('Amsterdam2.png');
  // background-attachment: fixed;
  background-attachment: relative;
  // position: relative; top: 0; overflow:scroll;
  background-repeat: no-repeat;
  background-size: 85%;
  width: 100% ;
  height: 800px ;
  z-index: 0;
  margin-top: -40px;
  // top: 0;
  display: none;
  background-color: $dark-blue;

  &.active {
    display: block;
  }

  &.one {
    background-image: asset-url('Amsterdam2.png');
  }

  &.two {
    background-image: asset-url('Amsterdam1.png');
  }

  &.three {
    background-image: asset-url('Amsterdam3.png');
  }

  &.four {
    background-image: asset-url('Amsterdam4.png');
  }
}

.biglogo {
  color:white;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 99;
  top: 93%;
}


.absolute {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  top: 196px;
  right: 0;
  width: 375px;
  height: 500px;
}

.homep{
  color:white;
}
.button.home {
  background-color: white;
  border: 1px #222222 solid;
  color: white;
  padding: 10px ;
  text-align: center;font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 3px;
  cursor: pointer;
}
.button.home:hover {
  a{

    text-decoration: none;
  }
  font-size: 16px;
}


.button1.home {
  background-color: white;
  border: 1px #222222 solid;
  color: white;
  padding: 10px;
  text-align: center;font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 4px ;
  cursor: pointer;
}
.button1.home:hover {
  a{


    text-decoration: none;
  }
  font-size: 16px;
}

.2buttons{
  position:relative;
  bottom: 0px;
}
