.payment-container {
  display: flex;
  justify-content: center;
}

.payment-box {

  background-color: #1C6E8C;
  text-align: center;
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 0 3px 7px 1px rgba(#000, .1);
  color: white;
  font-weight: lighter;
  height: 460px;
  width: 350px;
}

.payment-box .stripe-button-el {
  margin-bottom: 10px;
  background-color: $dark-blue;
}

.payment-confirm {
  margin-top: 80px;
  font-size: 100px;
}

.payment-content {
  margin-right: 20px;
  margin-left: 20px;
}
