// // Import your layouts CSS files here.
// // Examples:
// // @import "dashboard";
// // @import "profile";
// // @import "map";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
