<div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width: <%= @score*15 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
