<div class="container">
  <div class="payment-box col-xs-12 col-sm-8 col-sm-offset-2">
    <h3>Thank you!</h3>
    <p>Your <%= humanized_money_with_symbol(@order.amount) %> deposit is now secured</p>
    <p><%= @order.flat.landlord.first_name %> will shortly send your rental agreement for signature.</p>
  </div>
</div>
