
<p>Property reviews</p>
<p>Search properties</p>

<%= link_to flats_path %>
<script>function run(interval, frames) {
    var int = 1;

    function func() {
        document.body.id = "b"+int;
        int++;
        if(int === frames) { int = 1; }
    }

    var swap = window.setInterval(func, interval);
}

run(900, 4);
</script>
