<div class="container home">




</div>
<div class="container qam">


</div>
<div class="row">
  <div class="col"><div class="icon-calendar"></div>
  <h1>laaaaaaap</h1>
  <h2>laap</h2>
</div>
<div class="col"><a href="/flats" class="button">LeWagon Developers</a>

</div>
<div class="col"><div class="icon-map-marker"></div>
<h1> House</h1>
<h2>amsterdam</h2></div>
</div>
