
<div>
  <div class="home-banner one active">
  </div>
<!--   <div class="home-banner two">
</div> -->
<div class="home-banner three">
</div>
<div class="home-banner four">
</div>
</div>
<div class="absolute">

  <p class="homep"> Fair rentals for tenants. </p>
  <div>

  <div id="bootstrap-override" class="btnprop">
    <%= link_to "Search properties", flats_path %>
  </div>
  <div class="review-btns">
    <div id="bootstrap-override" class="btnrev">
      <%= link_to "Leave a review", new_review_path %>
    </div>

    <div id="bootstrap-override" class="btnrev">
      <%= link_to "Search reviews", reviews_path %>
    </div>
  </div>
</div>
</div>
