
<div>
  <div class="home-banner one active">
  </div>
<!--   <div class="home-banner two">
</div> -->
<div class="home-banner three">
</div>
<div class="home-banner four">
</div>
</div>
<div class="absolute">

  <p class="homep">Looking for a rental property in the Netherlands. You will find it on Nested Rental Properties</p>
  <div class = "2buttons">
    <div class="button home">
      <%= link_to "Search properties", flats_path %>
    </div>

    <div class="button1 home">
      <%= link_to "Reviews", new_review_path %>

    </div>
  </div>
</div>
