.btn-orange {
  color: white;
  background-color: $blue;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 2px 0 rgba(#000, .1);
}

.btn-orange:hover {
  opacity: 0.8;
}

.btn-ghost {
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: white;
  color: $blue;
}
