.btn-orange {
  color: white;
  background-color: $blue;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 2px 0 rgba(#000, .1);
}

.btn-orange:hover {
  opacity: 0.8;
}
