.notification {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 5px;
  // box-shadow: 1px 1px #bfbfbf;
  opacity: 0.8;

  box-shadow: 0 3px 7px 1px rgba(#000, .1);

  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 125px;

}

.notification-btn {
  margin-right: 35px;
  background-color: $blue;
  opacity: 0.8;
  font-size: 15px;
  border: none;
  box-shadow: 0 3px 7px 1px rgba(#000, .1);

}

img.notification-photo {
  border-radius: 5px;
}

.notification-btn:hover {
  background-color: $blue;
  opacity: 1;
  transition: all 0.2s ease-in;
}

.notification:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.notification .notification-content {
  flex-grow: 1;
  align-items: center;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  color: $dark-blue;
  font-size: 15px;
  font-weight: light;
}

.notification small {
  color: $orange;
  font-weight: light;
  font-size: 15px;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.notification-container .notification h2 {
  color: $dark-blue;
  font-size: 20px;
  margin: 0;
}
