.review-box {
  padding: 10px;
  font-size: 15px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size:15px;
  height: 15px;
  width: 100px;
  margin: 0;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  margin-bottom: 8px;
  margin-top: 15px;

  &-top {
    color: $yellow;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-bottom: 10px;
    height: 15px;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    margin-bottom: 10px;
  }
}


